@tailwind base;
@tailwind components;
@tailwind utilities;



/* 네비게이션 바 링크 스타일 */
.nav-link {
  
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: black;
}

/* nav bar에서 현재 페이지 링크 스타일 */
.current {
  /* background-color: #6b7280; */
  /* color: cadetblue; */
}
.flex-container {
  /* display: flex; */
  /* height: 4rem; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.flex-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* 요소를 왼쪽으로 정렬합니다. flex-start */
}

@media (max-width: 400px) {
  .link-container {
    /* 원하는 스타일을 여기에 추가 */
    display: flex;
    /* flex-direction: row; 세로로 나열 */
  }
}


/* ======================================================= 여기까지 nav bar =========================================================================== */

/* 전체 푸터 스타일 */
.footer {
  background-color: #e5e7eb;
  color: #e5e7eb;
  padding: 2rem 0;
  text-align: center;

  width: 100%; /* 가로 폭 100%로 설정 */
}

/* 푸터 내부의 링크 스타일 */
.footer-link {
  color: #6b7280;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #fff;
}

/* 소셜 미디어 아이콘 스타일 */
.social-icon {
  color: #6b7280;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #fff;
}

/* ==================================================== 여기까지 푸터 ======================================================================== */

/* 검색창 */


.search {
  height: 40px;
  outline: auto;
  padding: 10px; /* 좌우 여백 추가 */
  width: 100%; /* 가로 폭 100%로 설정하여 화면 너비에 맞추도록 함 */
  max-width: 600px; /* 최대 가로 폭 설정 */
  margin-left: 50px
}

/* 버튼 스타일 */
.search-button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 검색창 및 버튼을 감싸는 컨테이너 스타일 */
.search-container {
 
}


/* 판매 버튼 */

.sellButton {
  
}

.sell {
  
  
}

/* 로그인/회원가입/마이페이지 */

.top_inner {
  display: flex;
  height: 22px;
  padding: 8px 40px 0;
}

.top_list{
  align-items: center;
  display: flex;
  margin-left: auto;
}

/* .top_item {
  list-style: none;
  margin-left: 24px;
} */

@layer components {
  .top_item {
    @apply ml-[24px] list-none
  }
}


.top_link {
  align-items: center;
  color: rgba(34,34,34,.8);
  display: flex;
  font-size: 12px;
  letter-spacing: -.06px;
}

/* 경매 등록 창 */
.tab-bar {
  background-color: dimgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: yellow;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
}

.tab_hi {
  cursor: pointer;
  transition: color 0.3s ease; /* 텍스트 색상에 hover 효과를 주기 위한 트랜지션 */
}

.tab_hi:hover {
  color: orange; /* 텍스트에 적용할 hover 스타일 (예: 빨간색) */
}


/* 판매 창 */
/* .file-upload-container {
  text-align: center;
  margin-top: 20px;
} */

.custom-file-upload {
  border: 2px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #333;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: #e8e8e8;
}

/* Detail 합치기css */

body {
  margin:0;
  background-color: white;
  color: black;
}
.title{
  text-align: left;
  margin-left: 200px;
  font-size: 40px;
}
.title-sub{
  text-align: center;
  margin-top: 50px;
  margin-right: 150px;
  font-size: 24px;
}
.detail-listing, .detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.item-details{
  text-align: center;
}

.detail-list-title {
  text-decoration: underline;
  padding: 10px;
  font-size: 24px;
}

.detail-content {
 
  margin: 20px auto;
  width: 100%;
  max-width: 1000px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.img-list-detail {
  width: 40%;
  height: auto;
  margin-right: 10px;
}

.item-info {
  flex: 1;
  text-align: left;
}

.item-info h2 {
  margin-left: 150px;
  
  text-decoration: underline;
  font-size: 50px;
  font-weight: bold;
}

.item-info p {
  margin-left: 150px;
  text-decoration: underline;
  font-size: 30px;
  color: brown;
}

/* 화면 크기가 768px 이하일 때 스타일을 조정 */
@media (max-width: 768px) {
  .detail-content {
    padding: 10px;
  }

  .item-info h2, .item-info p {
    margin-left: 0;
  }
}


.navbar{
  text-align: center;
  background-color: black;
  padding: 20px;
}
.navbar a{
  margin-right: 60px;
  text-decoration: none;
}
.food-img{
  width: 100%;
  height: auto;
}

.search {
  margin-top: 0px;
  top: 0px;
  margin-left: 550px;
  right: 100px;
  height: 40px;
  outline: auto;
  padding-inline-start: 100px;
  position: relative;
  width: 40%; 
}

/* 버튼에 스타일을 적용합니다. */
.search-button {
  padding: 10px 20px; /* 버튼의 내부 여백 설정 */
  background-color: black; /* 배경색 설정 */
  color: #fff; /* 글자색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 모서리 설정 */
  cursor: pointer; /* 커서 스타일 변경 */
  margin-left: -100px; /* 입력 필드와 버튼 사이 여백 설정 */
}


/* 입력 필드와 버튼을 감싸는 컨테이너에 스타일을 적용합니다. */

.bid-button, .bookmark-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: brown;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px; /* 버튼 오른쪽에 마진 추가 */
}

/* 버튼들을 가로로 나란히 배치하고 왼쪽 공간을 띄움 */
.button-container {
  display: flex;
  align-items: center; /* 버튼을 세로 가운데 정렬 */
  margin-left: 20px; /* 왼쪽 공간을 마진으로 둠 */
}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조정 */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .bid-button, .bookmark-button {
    margin-right: 0; /* 화면이 작아질 때 버튼 사이의 마진 제거 */
    margin-top: 10px;
  }
}






/* 상품 리스트 컨테이너 */
.item-list {
  text-align: center;
  padding: 20px;
}



.show-item-list-wrap {
  flex-basis: calc(25% - 20px); /* 한 행에 4개의 상품을 표시하려면 25%로 설정 */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* 상품 이미지 스타일 */
.item_img {
  width: 100%; /* 이미지 너비 100%로 설정하여 컨테이너에 맞게 조절 */
  max-height: 150px; /* 최대 높이 설정 */
}

/* 상품 정보 스타일 */
.item_info {
  text-align: left;
}

/* 상품 타이틀 스타일 */
.item_title  {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  
}

/* .row-items를 Flex 컨테이너로 설정 */
.row-items  {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 오른쪽 정렬 */
}

/* 각 상품 아이템 스타일 */
.product-item {
  
  flex-basis: calc(25% - 20px); /* 한 행에 4개의 상품을 표시하려면 25%로 설정 */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.item-price{
  color: chocolate;
}

/* 기본 스타일 */
.all-comment {
  width: 850px;
  font-family: Arial, sans-serif;

  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.comment {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.id-date {
  display: flex;
}

.comment-id {
  font-weight: bold;
  margin-right: 10px;
}

.comment-date {
  color: #777;
}

.comment-text {
  line-height: 1.4;
  text-orientation: upright;
  white-space: nowrap;
}

/* 모바일 화면에 대한 스타일링 */
@media screen and (max-width: 600px) {
  .all-comment {
    padding: 10px; /* 모바일에서 패딩을 줄임 */
  }

  .comment {
    padding: 5px; /* 모바일에서 패딩을 줄임 */
  }

  .comment-header {
    flex-direction: column; /* 모바일에서 세로 정렬 */
    align-items: flex-start;
  }

  .comment-id {
    margin-bottom: 5px; /* 모바일에서 마진 조정 */
  }

  .comment-text {
    writing-mode: horizontal-tb; /* 모바일에서 가로로 표시 */
    text-orientation: mixed; /* 모바일에서 가로로 표시 */
    white-space: normal; /* 모바일에서 텍스트 줄 바꿈 활성화 */
  }
}


textarea {
  resize: none; 
  width: 850px;
  height: auto;
  /* 다른 스타일 속성 */
}

/* CSS 파일 */
.comment-button {
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: darkred;
}
